

<AuthorizeView>
        <Authorized>
           <section class="account-profile">

        <div class="profile">
            <div class="profile-image">
                <img src="/images/uploads/profiles/@user.ProfileImage" alt="@user.FirstName @user.LastName" />
                <!--Hur du gör en fileupload videon KOLLA PÅ DEN-->
                <EditForm enctype="multipart/form-data" method="post" Model="" FormName="ProfileUpload" OnValidSubmit="HandledProfileUpload">
                    <InputFile id="fileUploader"  hidden />
                    <label for="fileUploader" class="btn btn-circle btn-circle-sm"><i class="fa-regular fa-refresh"></i> </label>
                </EditForm>
            </div>
            <div class="profile-info">
                <h3 class="displayname"></h3>
                <p></p>
            </div>
        </div>
    </section>

  </Authorized>
</AuthorizeView>






@code {
    private ApplicationUser user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserManager.GetUserAsync(HttpContext.User) ?? null!;

    }

    public async Task HandledProfileUpload()
    {
        var result = await Http.PostAsync("https://fileprovider-win23jsbackend-hezhaaban.azurewebsites.net/api/Upload", 
        new MultipartFormDataContent
        {
            {new StreamContent(await(await JSRuntime.InvokeAsync<IJSObjectReference>("FileUpload", "fileUploader")).InvokeAsyn<IJSObjectReference>("files"))[0].AsStream()), "file", "profile.jpg"}
        });
        
    }


}
