@inherits LayoutComponentBase
@layout AccountLayout

<section class="account-details">
    <div class="container">
        <aside>
            <partial name="~/Views/Account/_AccountProfile.cshtml" />
            <ManageNavMenu />
            <div class="content">
                @Body

            </div>
        </aside>
    </div>
 </section>

